# Server Configuration
NODE_ENV=development
PORT=5000

# MongoDB Connection
MONGO_URI=mongodb://localhost:27017/music-player

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Geocoder
GEOCODER_PROVIDER=mapquest
GEOCODER_API_KEY=your_geocoder_api_key

# File Upload
MAX_FILE_UPLOAD=10000000 # 10MB
FILE_UPLOAD_PATH=./public/uploads
